p {
	margin-left:10px;
	margin-right:10px;
}


.title {
	font-weight: bold;
	font-size: 15px;
	text-overflow:ellipsis;
	-webkit-text-size-adjust: 300%;
}

.btn-close {
	margin-bottom : 40px;
	margin-left:10px;
	margin-top:10px;
}

